# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
cudatoolkit=11.2.2=h933977f_10
cudnn=8.1.0.77=h3e0f4f4_0
huggingface-hub=0.24.5=pypi_0
imbalanced-learn=0.12.3=pyhd8ed1ab_0
ipykernel=6.28.0=py39haa95532_0
matplotlib=3.8.4=py39haa95532_0
numpy=1.23.3=pypi_0
pandas=1.5.0=pypi_0
python=3.9.0=h6244533_2
scikit-learn=1.5.1=py39hc64d2fc_0
scipy=1.13.1=py39h8640f81_0
seaborn=0.13.2=py39haa95532_0
tensorflow=2.10.0=pypi_0
tqdm=4.64.1=pypi_0
transformers=4.22.1=pypi_0
xgboost=2.0.3=py39haa95532_0
